@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
ul,ol {
    list-style: none;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

/* float 해제 */
.clear::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 100%;
    background-color: rgb(124, 81, 161);
    padding: 100px 0;
}

.container .instagram {
    width: 1280px;
    margin: 0 auto;
    /* outline: 3px solid lime; */
}

.instagram .title {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
    font-weight: 600;
    text-align: center;
}

.instagram .content {
    margin-bottom: 60px;
}

.instagram .content ul li {
    float: left;
    width: 16.66%;
    overflow: hidden;
    /* 
    hover시 이미지 크기가 커지면서 li 공간을 넘치게 되면 넘치는 부분을 안보이도록 하는 것
    */
    /* outline: 3px solid rgb(90, 176, 205); */
}

.instagram .content ul li a {
    display: block;
}

.instagram .content ul li a img {
    width: 100%;
    display: block;

    transition: all 0.6s;
    /* 
    시작~종료 css를 다 보여주는 것
    0.6초동안 변하는 걸 다 보여주는 의미 
    all 변하는 걸 다 보여줌 s(기본 단위 초) 시간 동안
    */

    /* float: left; */
    /* └ float 해제 방법 2 */
}

/* hover */
.instagram .content ul li:hover img {
    transform: scale(1.5);
    /* 
    scale 비율에 따른 크기 조정 자신을 기준 100% = 1(현재 크기) 
    중심부터 크기 변형
    */

    /* transition: all 0.6s; */
}

.instagram .button {
    /* background-color:  red; */
    text-align: center;
    /* 
    하위요소 중 인라인 성격을 가진 요소는 글자처럼 취급되므로 text-align을 통해 정렬할 수 있다
    */
}
.instagram .button .follow {
    font-size: 18px;
    background-color: rgb(243, 130, 0);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
}