@charset "utf-8";

/* coffeebeanstory_t.css */
/*  폰트
1) merriweather 폰트 (영문)
    font-family: "Merriweather", serif;
    font-weight: 300 ~ 900;

2) nanum gothic 폰트 (한글)
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400 | 700 | 800;
*/

body {
    font-family: "Nanum Gothic", sans-serif;
    color: #333;
}

/* **Bread crumb***************************************** */
.breadcrumb {
    margin-top: 140px;
    background-color: rgb(124, 81, 161);
}

.breadcrumb ul {
    width: 1280px;
    margin: 0 auto;
}

.breadcrumb ul li {
    margin-left: 10px;
    padding: 10px;
    position: relative;
}

.breadcrumb ul li::after {
    content: ">";
    display: block;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 100%;
    top: 10px;
}

.breadcrumb ul li:last-child::after {
    display: none;
}

.breadcrumb ul li a {
    color: rgb(255, 255, 255);
    font-size: 14px;
}

section {
    width: 100%;
    margin-bottom: 90px;
}

section article {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}

section article.banner {
    width: 100%;
    margin-bottom: 60px;
}

article.banner img {
    width: 100%;
    max-width: 1920px;
    display: block;
    margin: 0 auto;
}

section.simply article.value .value-list {
    border-bottom: 1px solid rgb(124, 81, 161);
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.value .value-list li {
    width: 25%;
    position: relative;
}

.value .value-list li~li::after {
    content: "";
    display: block;
    background-image: url(../img/bg_plus_icon.gif);
    width: 41px;
    height: 41px;
    position: absolute;
    left: -15px;
    top: 64px;
}

.value-list li img {
    margin-bottom: 20px;
}

.value-list li .txt-box h3 {
    font-family: "Merriweather", serif;
    color: rgb(124, 81, 161);
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.value-list li .txt-box p {
    font-size: 18px;
    line-height: 1.3rem;
}

.value-list li dl dt {
    font-family: "Merriweather", serif;
    color: rgb(124, 81, 161);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.value-list li dl dd {
    font-size: 18px;
    line-height: 1.3rem;
}

.value-list li dl dd.color {
    font-family: "Merriweather", serif;
    color: rgb(124, 81, 161);
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
}

.value .value-des p {
    margin-bottom: 20px;
    line-height: 1.5rem;
    font-size: 18px;
}

.value .value-des p:last-child {
    font-size: 24px;
    font-weight: 700;
    color: rgb(207, 102, 26);
}

section.specialty article.product article h2 {
    font-family: "Merriweather", serif;
    font-size: 24px;
    font-weight: 800;
    color: rgb(207, 102, 26);
    margin-bottom: 10px;
    letter-spacing: 1px;
    background: url(../img/bg_bar6.gif) repeat-x center;
}

.product article h2 span {
    background-color: #fff;
    padding: 0 30px;
}

.product article h3 {
    font-family: "Merriweather", serif;
    color: rgb(207, 102, 26);
    margin-bottom: 20px;
}

.product article p {
    line-height: 1.4rem;
    margin-bottom: 30px;
}

.product article ul {
    margin-bottom: 50px;
}

.product article ul li {
    width: 32%;
    overflow: hidden;
}

.product article ul li~li {
    margin-left: 2%;
}

.product article ul li img {
    width: 100%;
    display: block;
    transition: all 0.7s;
}

.product article ul li:hover img {
    transform: scale(1.5);
}

.product article.tea ul li:hover img {
    transform: scale(1.2);
    opacity: 0.6;
}

.product article div.btn a {
    display: inline-block;
    background-color: rgb(243, 130, 0);
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.product article div.btn a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(243, 130, 0);
    font-weight: 600;
    border: 2px solid rgb(243, 130, 0);
}

.product article.coffee {
    margin-bottom: 120px;
}