@charset "UTf-8";

/* **공통******* */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* ****header******************************** */

header {
    width: 100%;
    background-color: #f6f5ef;
    height: 115px;
    padding: 20px 0;
    box-sizing: border-box;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

header .inner-header {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

header h1.logo {
    float: left;
}
header h1.logo a {
    display: block;
}
header h1.logo a  img {
    height: 75px;
}

header nav.gnb {
    float: right;
}

header nav.gnb ul li {
    float: left;
    margin-right: 40px;
    line-height: 80px;
    font-size: 18px;
}

header nav.gnb ul li:last-child {
    margin-right: 0;
}
header nav.gnb ul li a {
    color: #555;
}

header nav.gnb ul li a:hover {
    color: #007042;
    text-decoration: underline;
}

/* ***section***************************************** */
section {
    width: 100%;
    background: url(../img/login_bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 70px 0 80px;
    margin-top: 115px;
}

section .inner-section {
    width: 800px;
    margin: 0 auto;
}

section .inner-section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    font-weight: 400;
    color: white;
}

section .inner-section .join {
    background-color: white;
    color: #666;
    padding: 20px 0;
}

.join .top {
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
    padding-top: 20px;
    position: relative; /* .msg 기준 */
    margin-bottom: 40px;
}

.join .top img {
    margin-left: 50px;
}

.join .top .msg {
    position: absolute;
    right: 50px;
    bottom: 40px;
}

.join .top .msg p:first-child {
    font-size: 18px;
    margin-bottom: 10px;
}
.join .top .msg p:last-child {
    color: #999;
}

.join .top .msg p span {
    color: #007042;
}
.join form {
    padding: 0 20px;
}

.join form fieldset {
    margin-bottom: 40px;
}
.join form fieldset legend {
    display: block;
    margin-bottom: 20px;
    color: #554538;
}
.join form fieldset table {
    width: 100%;
    border-top: 2px solid #554538;
    border-bottom: 1px solid #252525;
    border-collapse: collapse;
}

/* table 태그의 tr, th, td, 공통 css */
.join table tr {
    border-bottom: 1px solid #ccc;
    /* height: 50px;
    line-height: 50px; */
}
.join table th {
    padding: 16px;
    background-color: #f4f4f2;
    width: 20%;
    text-align: left;
}
.join table td {
    padding: 16px;
    background-color: #fff;
    width: 80%;
}

.join table td span {
    font-size: 14px;
    color: #999;
}

/* *****폼태그 css **************************************/
.join input {
    width: 180px;
    height: 30px;
    padding-left: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* input 태그로 만드는 버튼의 공통 css */
.join input[type="button"], .join input[type="submit"] {
    width: auto;
    padding-left: 4px;
    padding-right: 4px;
}

.join input[type="checkbox"] {
    width: 14px;
    height: 14px;
    vertical-align: middle;
}

.join input[type="tel"] {
    width: 100px;
    margin: 0 10px;
    text-align: center;
    padding: 0;
}
.join input[type="tel"]:first-child {
    margin-left: 0;
    width: 80px;
}

.join label {
    display: block;
}

.join table td.userid input {
    vertical-align: middle;
}

.join table td.userid span {
    vertical-align: middle;
}

.join table td.useremail input[type="email"] {
    width: 300px;
    margin-bottom: 10px;
}
.join table td.useremail label {
    font-size: 14px; 
}

.join table td.nicname input {
    width: 300px;
}

.join table td .birthday {
    margin-bottom: 10px;
}
.join table td .birthday select {
    height: 30px;
    margin-right: 10px;
    color: #777;
    border: 1px solid #ccc;
}
.join table td .birthday p {
    font-size: 14px;
}

.join .optional > p {
    font-size: 14px;
    margin-top: 10px;
    color: #777;
}

.join .btn {
    width: 100% !important; /* !important : 우선순위의 상관없이 제일 먼저 적용 */
    height: 60px;
    display: block;
    border: none;
    line-height: 60px;
    background-color: #007042;
    font-size: 18px;
    color: white;
    text-align: center;
    cursor: pointer;
}

/* *****footer************************************************* */

footer {
    width: 100%;
    background-color: #2c2a29;
    padding: 30px 100px;
    box-sizing: border-box;
}

footer a {
    color: rgba(255, 255, 255, 0.8);
}

/* footer .inner-footer {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    outline: 1px solid lightblue;
} */

footer .links {
    margin-bottom: 20px;
    text-align: center;
}

footer .links ul li {
    display: inline-block;
    margin: 0 10px;
    line-height: 40px;
}
footer .links ul li a:hover {
    color: #007042;
}

footer .btngrp {
    text-align: center;
    margin-bottom: 40px;
}
footer .btngrp a {
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0.9);
    width: 150px;
    border-radius: 6px;
    padding: 12px 0;
}

footer .btngrp a:hover {
    width: 170px;
}

footer .info {
    line-height: 1.6;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}

footer .info p span {
    margin-right: 10px;
}